<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>First site</title></head>
    <body>
<p>yuijfvknbdhjuk<strong>boldddddd</strong>bgbjfv hkm<em> hbehio fkj nffjk</em></p>
<h1>fdcx cv fvcvd</h1>
<li>fvddcszfxvc</li>
<p>less than &lt;. greater than &gt;. ampersand &amp. semicolon just works;. money characters &pound;, &euro;, &yen;,&Rsh;</p>
<p>Math characters: &sum;, &forall;, &isin;</p>
<p>Arrows: &larr;, &uarr;, &rarr;, &darr;</p>
<p>special characters can be in links: <a href="https://en.wikipedia.org/wiki/Standard_52-card_deck">&spades; &clubs; &hearts; &diams;</a></p>
<!--this is comment-->
<p>This is clickable image! <a href="https://en.wikipedia.org/wiki/Standard_52-card_deck"><img src="Playing_cards_collage.jpg"/></a></p>
<h1>{{name}} is from {{place}}</h1>
<table>
    <tr>
        <th>Make</th>
        <th>Model</th> <th>Mileage</th>
    </tr>
    <tr> <td>Ford</td><td>edge</td><td>10345</td></tr>
    <tr> <td>Ford</td><td>edge</td><td>10345</td></tr>
    <tr> <td>Ford</td><td>edge</td><td>10345</td></tr>
</table>
<br><br>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin:0px; width: 721px; height: 93px;'></textarea>
    <input type="checkbox" name="removepunc"> Remove punctuations <br>
    <input type="checkbox" name="fullcaps"> Upppercase <br>
    <button type='submit'>Analyze text</button>
</form>
</body>
</html>
