<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <form action="/demo/getform/" method="POST"> 
        {% csrf_token %}  
        <!-- The {% csrf_token %} tag is necessary to prevent cross-site forgery attacks.  -->
        <p>Name: <input type="text" name="name"></p> 
        <p>UserID :<input type="number" name="id"></p> 
        <input type="submit"> 
    </form> 
   
</body>
</html>